.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url(https\:\/\/images03\.nicepage\.com\/a1389d7bc73adea1e1c1fb7e\/3ca9eecbff10507f8e695277\/pexelsphoto1758672\.jpg);
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 756px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 40px auto 80px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 252px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-image-1 {
  width: 323px;
  height: 172px;
  margin: -54px auto 0 -20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 252px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-line-1 {
  width: 120px;
  height: 3px;
  transform-origin: right center;
  margin: 30px -1px 25px auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 429px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-2 {
  margin: 50px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 4.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 40px auto 0;
  padding: 15px 36px 15px 35px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  width: 114px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 696px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-image-1 {
    width: 145px;
    height: 78px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
  }

  .u-section-1 .u-line-1 {
    width: 99px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }

  .u-section-1 .u-text-3 {
    position: relative;
  }

  .u-section-1 .u-btn-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 178px;
    height: 94px;
    margin-top: -15px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 159px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-1 {
    width: 76px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 271px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-image-1 {
    width: 104px;
    height: 56px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 239px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -40px;
    margin-right: 5px;
    margin-left: -5px;
  }

  .u-section-1 .u-line-1 {
    width: 71px;
    height: 10px;
    transform-origin: right center 0px;
    margin-top: 16px;
    margin-right: 5px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 564px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-4 {
    width: 124px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: NaNpx;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 81px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-1 .u-image-1 {
    width: 136px;
    height: 73px;
    margin-top: 0;
    margin-left: -1px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -68px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: 20px;
    margin-right: -1px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 35px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 3px;
    margin-right: 91px;
    margin-left: 125px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 14px;
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 261px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 261px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  margin: 35px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-line-1 {
  width: 120px;
  height: 10px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 35px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 261px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-4 {
  margin: 60px 0 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 26px;
  min-height: 16px;
  width: 62px;
  min-width: 42px;
  margin: 30px auto 35px 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
  }

  .u-section-3 .u-line-1 {
    width: 99px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-social-icons-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-line-1 {
    width: 76px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 248px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-line-1 {
    width: 71px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 248px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-line-1 {
    width: 60px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }
}